# Shared models
-e ../../shared/grepx-shared-models

# Dagster and dependencies
dagster==1.9.13
dagster-webserver==1.9.13
pandas==2.2.3
pyyaml==6.0.2
requests==2.32.3
tabulate==0.9.0
yfinance==0.2.50
numpy==1.26.4
celery==5.4.0
redis==5.2.1
sqlalchemy==2.0.23
aiohttp
aiosqlite
asyncpg
motor